<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Vim Recipes - A cookbook for the Vim text editor</title>
	<link rel="stylesheet" type="text/css" href="../templates/layout.css"/>
	<link rel="stylesheet" type="text/css" href="../templates/syntax.css"/>
	<link rel="stylesheet" type="text/css" href="../templates/user.css"/>
	<meta name="author" content="Run Paint Run Run" />
	<meta name="subject" content="Vim text editor" />
  <meta name="keywords" content="vim cookbook recipes technical software
  editor text book" />
</head>
<body>
	<div class="frontcover"></div>
	<div class="halftitlepage">
    <!--<h1 class="no-toc"><%= title %></h1> -->
	</div>

	<div class="titlepage">
	<!--	<h1 class="no-toc"><%= title %></h1>
  <p class="no-toc"><%= authors.join('<br/>') %></p> -->
	</div>
	
	<!--div class="imprint">
		<p><%= copyright %></p>
	</div-->
 <div class="toc">
    
   <ul class="level3">
     <li class='level3'><a href="#introduction"><span>Introduction</span></a></li>
     <li class='level3'><a href="#conventions"><span>Conventions</span></a></li>
     <li class='level3'><a
       href="#contributing"><span>Contributing</span></a></li>
     <li class='section'><a href="#basics"><span>Basics</span></a> 
     <ul class="inline-list">
       <li class='level3'><a
         href="#choosing-the-right-mode"><span>Choosing the Right Mode</span></a></li>
       <li class='level3'><a href="#basic-navigation"><span>Basic Navigation</span></a></li>
       <li class='level3'><a href="#opening-files"><span>Opening Files</span></a></li>
       <li class='level3'><a href="#saving-a-file"><span>Saving a File</span></a></li>
       <li class='level3'><a href="#quitting-vim"><span>Quitting Vim</span></a></li>
       <li class='level3'><a href="#deleting-text"><span>Deleting Text</span></a></li>
       <li class='level3'><a
         href="#visually-selecting-text"><span>Visually Selecting Text</span></a></li>
       <li class='level3'><a
         href="#copying-cutting-pasting"><span>Copying, Cutting, and Pasting</span></a></li>
       <li class='level3'><a href="#configuring-vim"><span>Configuring Vim</span></a></li>
     </ul></li>
     <li class='level2'><a href="#editing"><span>Editing</span></a>
     <ul class="level3">
       <li class='level3'><a href="#indenting-lines"><span>Indenting Lines</span></a></li>
       <li class='level3'><a href="#selecting-text-with-motions"><span>Selecting Text with Motions</span></a></li>
       <li class='level3'><a href="#repeating-commands"><span>Repeating Commands</span></a></li>
       <li class='level3'><a href="#changing-the-case-of-text"><span>Changing the Case of Text</span></a></li>
       <li class='level3'><a href="#sorting-text"><span>Sorting Text</span></a></li>
       <li class='level3'><a href="#executing-external-commands"><span>Executing External Commands</span></a></li>
       <li class='level3'><a href="#managing-sessions"><span>Managing Sessions</span></a></li>
       <li class='level3'><a
         href="#formatting-with-an-external-program"><span>Formatting with an
           External Program</span></a></li></ul></li>
     <li class='level2'><a href="#typing"><span>Typing</span></a>
     <ul class="level3">
       <li class='level3'><a href="#spell-checking"><span>Spell Checking</span></a></li>
       <li class='level3'><a href="#using-templates"><span>Using Templates</span></a></li>
       <li class='level3'><a href="#undoing-mistakes"><span>Undoing Mistakes</span></a></li>
       <li class='level3'><a href="#auto-completing-text"><span>Auto-Completing Text</span></a></li>
       <li class='level3'><a href="#abbreviating-common-strings"><span>Abbreviating Common Strings</span></a></li>
       <li class='level3'><a href="#inserting-accented-or-foreign-characters"><span>Inserting Accented or “Foreign” Characters</span></a></li>
       <li class='level3'><a href="#opening-the-file-name-beneath-the-cursor"><span>Opening the File
           Name Beneath the Cursor</span></a></li></ul></li>
     <li class='level2'><a href="#navigation"><span>Navigation</span></a>
     <ul class="level3">
       <li class='level3'><a href="#navigating-text-files"><span>Navigating Text Files</span></a></li>
       <li class='level3'><a href="#navigating-source-code"><span>Navigating Source Code</span></a></li>
       <li class='level3'><a href="#navigating-the-viewport"><span>Navigating the Viewport</span></a></li>
       <li class='level3'><a href="#navigating-buffers"><span>Navigating Buffers</span></a></li>
       <li class='level3'><a href="#navigating-tabs"><span>Navigating Tabs</span></a></li>
       <li class='level3'><a href="#manually-creating-folds"><span>Manually Creating Folds</span></a></li>
       <li class='level3'><a href="#navigating-folds"><span>Navigating Folds</span></a></li>
       <li class='level3'><a href="#splitting-the-screen"><span>Splitting the Screen</span></a></li>
       <li class='level3'><a href="#navigating-marks"><span>Navigating Marks</span></a></li>
       <li class='level3'><a href="#navigating-tags"><span>Navigating Tags</span></a></li>
       <li class='level3'><a href="#bookmarking-lines-with-visible
         markers-signs"><span>Bookmarking Lines with Visible
           Markers (</span></a><a href="#bookmarking-lines-with-visible
         markers-signs"><span>Signs</span></a><a href="#bookmarking-lines-with-visible
         markers-signs"><span>)</span></a></li></ul></li>
     <li class='level2'><a href="#gui-gvim"><span>GUI</span></a><a href="#gui-gvim"><span> (GVim)</span></a>
     <ul class="level3">
       <li class='level3'><a href="#changing-the-font"><span>Changing the Font</span></a></li>
       <li class='level3'><a href="#maximising-screen-space"><span>Maximising Screen Space</span></a></li>
       <li class='level3'><a
         href="#creating-menus-and-toolbar-buttons"><span>Creating Menus and
           Toolbar Buttons</span></a></li></ul></li>
     <li class='level2'><a href="#searching"><span>Searching</span></a>
     <ul class="level3">
       <li class='level3'><a href="#searching-for-any-word"><span>Searching for any Word</span></a></li>
       <li class='level3'><a href="#searching-over-multiple-files"><span>Searching Over Multiple Files</span></a></li>
       <li class='level3'><a href="#searching-and-replacing"><span>Searching and Replacing</span></a></li>
       <li class='level3'><a href="#searching-for-the-word-beneath-the
         cursor"><span>Searching for the Word Beneath the
           Cursor</span></a></li>
       <li class='level3'><a href="#creating-regular-expressions"><span>Creating Regular Expressions</span></a></li>
       <li class='level3'><a href="#searching-the-vim-documentation"><span>Searching the Vim Documentation</span></a></li>
       <li class='level3'><a
         href="#looking-up-documentation-for-the-keyword-under-the-cursor"><span>Looking
           up Documentation for the Keyword Under the
           Cursor</span></a></li></ul></li>
     <li class='level2'><a href="#display"><span>Display</span></a>
     <ul class="level3">
       <li class='level3'><a href="#working-with-long-lines"><span>Working with Long Lines</span></a></li>
       <li class='level3'><a href="#displaying-line-numbers"><span>Displaying Line Numbers</span></a></li>
       <li class='level3'><a href="#working-with-remote-files"><span>Working with Remote Files</span></a></li>
       <li class='level3'><a href="#changing-the-status-line"><span>Changing the Status Line</span></a></li>
       <li class='level3'><a href="#redefining-highlight-groups"><span>Redefining Highlight Groups</span></a></li>
       <li class='level3'><a href="#modifying-the-cursor"><span>Modifying the
           Cursor</span></a></li></ul></li>
     <li class='level2'><a href="#extending"><span>Extending</span></a>
     <ul class="level3">
       <li class='level3'><a href="#creating-keyboard
         shortcuts-with-key-mappings"><span>Creating Keyboard
           Shortcuts with Key Mappings</span></a></li>
       <li class='level3'><a href="#chaging-the-colour-scheme"><span>Chaging the Colour Scheme</span></a></li>
       <li class='level3'><a href="#creating-command-line-commands"><span>Creating Command-Line Commands</span></a></li>
       <li class='level3'><a href="#extending-vim-with-scripts-and
         plugins"><span>Extending Vim with Scripts and
           Plugins</span></a></li></ul></li>
     <li class='level2'><a href="#other-uses-of-vim"><span>Other Uses of Vim</span></a>
     <ul class="level3">
       <li class='level3'><a href="#browsing-directories"><span>Browsing Directories</span></a>
       <ul>
         <li class='level3'><a href="#using-vim-as-a-file-manager"><span>Using Vim as a File Manager</span></a></li>
         <li class='level3'><a href="#viewing-differences-between-files"><span>Viewing Differences Between Files</span></a></li></ul></li>
     </ul>

  </div>

	<div class="chapters">
