<html>
  <head>
    <title>Vim Recipes: <%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!--<link rel="stylesheet" type="text/css" href="/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="/css/user.css"/>
    <link rel="stylesheet" type="text/css" href="/css/web.css"/> -->
  </head>
  <body>
    <form action="http://www.google.com/cse">
      <div>
        <input type="hidden" name="cx" value="012927387456573046134:nfygyscsu3q">
        <input type="hidden" name="ie" value="UTF-8">&nbsp;
        <input name="q" size="25">&nbsp;
        <input type="submit" name="root" value="Search">
      </div>
    </form>
    <p><a href="/toc/">Vim Recipes</a> <span>&#8227;</span> <a href="/<%= section_id %>/"><%= section %></a> <span>&#8227;</span>
    <i><%= title %></i></p>
    <%= body %>
    <div class="nav"><a
        rel="prev" href="/<%= prev_e[:section_id] %>/<%= prev_e[:id]
        %>/">&#x21A9; &nbsp; <%=
      prev_e[:title] %></a> <a rel="next" href="/<%= next_e[:section_id] %>/<%= next_e[:id] %>/"><%=
      next_e[:title] %> &nbsp; &#x21AA;</a></div>
  <script type="text/javascript" src="/js/footnotes.js"></script> 
  </body>
</html>  
