<html>
  <head>
    <title>Vim Recipes: <%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="alternate" type="application/atom+xml" title="Recipes Atom feed" 
          href="/index.atom"/>
  </head>
  <body>
    <form action="http://www.google.com/cse">
      <div>
        <input type="hidden" name="cx" value="012927387456573046134:nfygyscsu3q">
        <input type="hidden" name="ie" value="UTF-8">&nbsp;
        <input name="q" size="25">&nbsp;
        <input type="submit" name="root" value="Search">
      </div>
    </form>
    <p><a href="/toc/">Vim Recipes</a> <span>&#8227;</span> <a href="/<%= section_id %>/"><%= section %></a> <span>&#8227;</span>
    <i><%= title %></i></p>
    <%= body %>
  <div style="clear:both" id="disqus_thread"></div>
  <script type="text/javascript" 
          src="http://disqus.com/forums/vimrecipes/embed.js">
  </script>
  <noscript>
    <a href="http://vimrecipes.disqus.com/?url=ref">View the comment thread.</a>
  </noscript>
    <div id="footnotes"></div>
    <div class="nav"><a
        rel="prev" href="/<%= prev_e[:section_id] %>/<%= prev_e[:id]
        %>/">&#x21A9; &nbsp; <%=
      prev_e[:title] %></a> <a rel="next" href="/<%= next_e[:section_id] %>/<%= next_e[:id] %>/"><%=
      next_e[:title] %> &nbsp; &#x21AA;</a></div>
  

  <script type="text/javascript">
    //<![CDATA[
    (function() {
		  var links = document.getElementsByTagName('a');
		  var query = '?';
		  for(var i = 0; i < links.length; i++) {
			  if(links[i].href.indexOf('#disqus_thread') >= 0) {
				  query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			  }
		  }
		  document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/vimrecipes/get_num_replies.js' + query + '"></' + 'script>');
	  })();
    //]]>
  </script>

  <script type="text/javascript" src="/js/footnotes.js"></script> 
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl."
	: "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost +
        "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-8774571-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>  
  </body>
</html>  
