    <p><a href="/toc/">Vim Recipes</a> <span>&#8227;</span> <a href="/<%= section_id %>/"><%= section %></a> <span>&#8227;</span>
    <i><%= title %></i></p>
    <div class="nav"><a
        rel="prev" href="/<%= prev_e[:section_id] %>/<%= prev_e[:id]
        %>/">&#x21A9; &nbsp; <%=
      prev_e[:title] %></a> <a rel="next" href="/<%= next_e[:section_id] %>/<%= next_e[:id] %>/"><%=
      next_e[:title] %> &nbsp; &#x21AA;</a></div>
    <%= body %>
    <div class="nav"><a
        rel="prev" href="/<%= prev_e[:section_id] %>/<%= prev_e[:id]
        %>/">&#x21A9; &nbsp; <%=
      prev_e[:title] %></a> <a rel="next" href="/<%= next_e[:section_id] %>/<%= next_e[:id] %>/"><%=
      next_e[:title] %> &nbsp; &#x21AA;</a></div>
  <div style="clear:both" id="disqus_thread"></div>
  <script type="text/javascript" 
          src="http://disqus.com/forums/vimrecipes/embed.js">
  </script>
  <noscript>
    <div class=comments><%= comments %>
      <p><a href="http://vimrecipes.disqus.com/?url=ref">View the comment
      thread on Disqus</a>
    </div>
  </noscript>
    <div id="footnotes"></div>
  

  <script type="text/javascript">
    //<![CDATA[
    (function() {
		  var links = document.getElementsByTagName('a');
		  var query = '?';
		  for(var i = 0; i < links.length; i++) {
			  if(links[i].href.indexOf('#disqus_thread') >= 0) {
				  query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			  }
		  }
		  document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/vimrecipes/get_num_replies.js' + query + '"></' + 'script>');
	  })();
    //]]>
  </script>

  <script type="text/javascript" src="/js/footnotes.js"></script> 
