h1 {
  text-align: center;
  font-family:"Book Antiqua",Palatino,Georgia,serif;
  font-variant:small-caps;
  letter-spacing:-1px;
  font-size:xx-large;
}
h2,h3,h4 {
  margin-top: 0;
  padding-top: 0;
}  
a {text-decoration:none;}
a:link {color: steelblue; border-bottom: 1px dotted;}
a:visited {color: darkorchid; border-bottom: 1px dotted; }
a:hover {color: steelblue; border-bottom:1px solid;}
table {
  margin-left: auto;
  margin-right: auto;
}  

/* Initially we hide footnotes. A JavaScript function is then run to render
 * them at the bottom of the page, replacing their previous location with a
 * link to their new location. Having done this, the JavaScript sets span.fn
 * _display_ to 'inline', thus avoiding the footnotes initially appearing in 
 * their original position prior to being moved. 
 *
 * This is imperfect because it hides footnotes from users with CSS enabled
 * and JS disabled, but it will do for now.
 */ 
span.fn {
	display: none;
}

span.fn a:link {
	vertical-align: super;
  color: black;
  font-weight: bold;
  font-size: 100%;
  padding-left: 1px;
  border: none;
}

#footnotes {
	border-top: 1px solid #ccc;
	margin: 20px 0 20px 0;
	padding: 10px 0 0 0;
}

#footnotes div.footnote {
	margin: 0 0 5px 0;
}

@media screen, handheld {
  html { margin: 1em; font: 14px "Gill Sans", sans-serif; }
  h1 { margin-bottom: 0.5em }
  div.frontcover, div.backcover, div.halftitlepage, div.titlepage, div.imprint, 
  div.dedication, div.foreword, div.toc, div.index { display: none }
}
/* previous/next navigation links */

.nav a{text-decoration:none;border:0;display:block}
.nav a:first-child{float:left}
.nav a:last-child{float:right}
/*.nav span{font-size:1000%;line-height:1;margin:0;text-shadow:gainsboro 3px 3px 3px} */
